.gamesList {
    margin-top: 20px;
    width: 100%;
}

.gameCard {
    border-top: none !important;
    transform: scale(1);
    transition: transform .2s !important;
}

.gameCardCover {
    height: 150px;
    object-fit: cover;
}

/*.gameCard:hover {*/
/*    transform: scale(1.05);*/
/*}*/

.game {
    overflow: hidden;
    border-radius: 10px;
    background-color: #fafafa;
    margin-bottom: 30px;
    color: #212121;
    transition: .3s ease-in-out;
    height: 100%;
}

.game:hover {
    transform: scale(1.1);
}

a:hover {
    text-decoration: none;
}